@media screen and (max-width: 380px) {

    .calculadora {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .calculadora-informacoes {
        height: 400px;
        width: 320px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 10px;
        align-items: center;
    }

    .calculadora-resultado {
        margin: 0;
        height: 230px;
        width: 340px;
        margin-bottom: 10px;
    }

    .container-valor-conta, .container-quantidade-pessoas {
        height: 100px;
    }

    .container-opcoes-percentual {
        gap: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 250px;
    }

    .botao-gorjeta {
        width: 100%;
        height: 40px;
        padding: 0;
    }

    .botao-gorjeta-fixa {
        font-size: 16px;
    }

    .gorjeta-personalizada {
        font-size: 15px;
        font-weight: 00;
    }

    .valor-dinheiro-pessoa {
        height: 40px;
        font-size: 20px;
    }

    .titulo-informacoes {
        font-size: 16px;
    }

    .maior-que-zero {
        font-size: 15px;
    }

    .calculo-resultado {
        margin-right: 20px;
        font-size: 25px;
    }

    .resultado-legenda {
        font-size: 12px;
        margin-left: 12px;
    }

    .resultado-legenda-secundario {
        font-size: 12px;
        margin-left: 12px;
        margin-top: 5px;
    }

    .botao-calculo, .limpar {
        width: 220px;
        height: 45px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .limpar {
        width: 50px;
        margin-right: 5px;
    }

    .botao-calculo {
        margin-left: 5px;
    }

    .imagem-lixeira {
        height: 40%;
        width: 50%;
    }
}